.applet-output {
	overflow-y: scroll;
	min-height: 75%;
	height: 75%;
}

table.application-container td {
	width: 50%;
}

.applet-container {
	height: 800px;

}

.applet-form {
}

.applet-output {
	/*height: 75%;*/
}

#plot {
	/*background-color: black;*/
}